<div class="menu">
  <h1 class="menu-title">Angular2 presentation</h1>
  <div>
    <ul class="list-card">
      <li class="card">
        <a [routerLink]="['/pipe']">Pipe</a>
      </li>
      <li class="card">
        <a [routerLink]="['/lifecycle']">
            Component LifeCycle
        </a>
      </li>
      <li class="card">
        <a [routerLink]="['/directives']">
          Directive
        </a>
      </li>
      <li class="card">
        <a [routerLink]="['/services']">
          Services
        </a>
        </li>
      <li class="card">
        <a [routerLink]="['/todolist']">Todo List</a></li>
    </ul>
  </div>
</div>